/*--------------BASIC SETUP---------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Overpass:wght@400;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 2em;
    color: #555555;
    font-weight: 400;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    line-height: 145%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

header {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*--------------Header---------------*/

header {
    background-image: linear-gradient(#000000bd, #000000bd), url(/css/img/background.jpg);
}

.main-logo {
    height: 4em;
    margin: 1em 2em;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    margin-top: 2em;
}

header nav ul img {
    height: 1em;
}

header nav li {
    margin-right: 2em;
}

header nav ul li a {
    color: #f1c40f;
    letter-spacing: .125em;
    border-bottom: .125em solid transparent;
    padding-bottom: .225em;
}

header nav ul li a:hover {
    color: #ffffff;
    border-bottom: .125em solid #f1c40f;
    transition: color .2s, border-bottom .2s;
}

/*--------------Form---------------*/

.form-box {
    text-align: center;
}

.form {
    border: .05em solid red;
    width: 25%;
    padding: 2% 1%;
    margin: 2em auto;
    border-radius: .5em;
    justify-content: space-between;
    position: absolute;
    top: 30%;
    left: 40%;
}

.form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

label {
    color: #ffffff;
    font-weight: 300;
}

input {
    width: 25em;
    padding: 2%;
}

button {
    width: 40%;
    padding: 3%;
    margin-top: 2em;
    text-transform: uppercase;
    background-color: red;
    border: none;
    color: #ffffff;
    font-size: 70%;
    letter-spacing: .125em;
    border-radius: .1em;
    font-weight: 700;
    opacity: .8;
}

button:hover {
    opacity: 1;
    transition: opacity ,.2s;
}

.member {
    background-color: red;
    border-radius: 50em;
    height: 8em;
    width: 8em;
    padding: 7% 2%;
    margin: 0 auto;
}

.member:hover {
    background-color: #ffffff;
    transition: background-color .5s;
    
}

.member img {
    height: 2.5em;
}

.member a {
    display: block;
    color: #ffffff;
}

.member a:hover {
    color: red;
    transition: color .5s;
}

.member-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 75%;
    position: absolute;
    top: 28%;
    left: 15%;
}

.box-top {
    grid-column: 1/2;
    grid-row: 1/2;
}

.box-left {
    grid-column: 1/2;
    grid-row: 3/4;
}

.box-right {
    grid-column: 3/4;
    grid-row: 1/2;
}

.box-down {
    grid-column: 3/4;
    grid-row: 3/4;
}

/*--------------Footer---------------*/

footer {
    background-color: #202020;
    color: #ffffff;
    font-weight: 100;
    text-align: center;
    padding: 3%;
    font-size: 90%;
}

.footer-loc {
    display: flex;
    justify-content: space-around;
}

.copy-text {
    margin-top: 1em;
}


