@media only screen and (max-width: 1920px) {
    .form {
        width: 35%;
        left: 32%;
        top: 28%;
    }

    .member-box {
        left: 9%;
        width: 81%;
        top: 25%;
    }

}

@media only screen and (max-width: 1200px) {
    label {
        font-size: .7em;
        width: 10em;
    }

    .member-box {
        width: 90%;
        left: 4.5%;
    }

}

@media only screen and (max-width: 360px) {
    .main-logo {
        height: 3em;
    }

    header nav {
        display: block;
        text-align: center;
    }

    header nav ul {
        display: none;
    }

    .form {
        width: 95%;
        position: static;
        padding: 4%;
    }

    label {
        font-size: .6em;
        width: 7em;
        font-size: .5em;
    }

    input {
        width: 15em;
    }

    header {
        height: 230vh;
    }

    footer {
        font-size: 50%;
    }

    .footer-loc {
        flex-direction: column;
    }

    .member-box {
        display: flex;
        flex-direction: column;
        position: static;
        justify-content: center;
        width: 100%;
    }

    .member img {
        height: 1.5em;
    }

    .member {
        height: 5em;
        width: 5em;
        margin-bottom: .5em;
    }

    .member a {
        font-size: .6em;
        line-height: 140%;
    }
}