/*--------------BASIC SETUP---------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Overpass:wght@400;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 2em;
    color: #555555;
    font-weight: 400;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    line-height: 145%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

header, section {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

section {
    padding: 5% 2%;
}

.btn {
    border: .125em solid red;
    padding: 1% 2%;
    letter-spacing: .125em;
    word-spacing: .2em;
    position: absolute;
}

.btn:hover {
    border: .125em solid #ff1414;
    transition: border .2s;
}

.btn-full {
    background-color: red;
    color: #ffffff;
}

.btn-ghost {
    color: #ffffff;
}

/*--------------Header---------------*/

header {
    background-image: linear-gradient(#000000bd, #000000bd), url(/css/img/background.jpg);
}

.main-logo {
    height: 4em;
    margin: 1em 2em;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    margin-top: 2em;
}

header nav ul img {
    height: 1em;
}

header nav li {
    margin-right: 2em;
}

header nav ul li a {
    color: #f1c40f;
    letter-spacing: .125em;
    border-bottom: .125em solid transparent;
    padding-bottom: .225em;
}

header nav ul li a:hover {
    color: #ffffff;
    border-bottom: .125em solid #f1c40f;
    transition: color .2s, border-bottom .2s;
}

.hero-text-box {
    display: flex;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%,-50%);
    align-items: center;
}

.hero-text-box img:first-of-type {
    height: 6em;
}

.hero-text-box img:last-of-type {
    margin-left: 2em;
    height: 8em;
}

.sub-heading {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.sub-heading img {
    height: 2.5em;
}

.btn-box {
    margin-top: 1em;
}

.btn-box .btn {
    color: #ffffff;
    border-radius: 50em;
    padding: 2% 5%;
}

.sign-full {
    background-color: red;
}

.sign-full:hover {
    background-color: #ff1414;
    transition: background-color .2s;
}

.sign-ghost {
    left: 40%;
}

.sign-ghost:hover {
    background-color: #ff1414;
    transition: background-color .2s;
}


/*--------------BAND-1---------------*/

.section-band-1, .section-about-1 {
    background-image: linear-gradient(#0000008f,#0000008f), url(/css/img/placebo.jpg);
}

.lf, .rt {
    position: absolute;
    width: 10%;
    border-top: .2em solid red;
    top: 84%;
}

.lf {
    left: 28%;
}

.rt {
    left: 61%;
}

.venue-btn-ghost {
    top: 25%;
    left: 38%;
}

.venue-btn-ghost:hover {
    background-color: #ffffff;
    color: red;
    transition: background-color .2s, color .2s;
}

.venue-btn-full a {
    top: 80%;
    left: 40%;
}

.venue-btn-full a:first-of-type {
    left: 8%;
}

.venue-btn-full a:last-of-type {
    left: 74%;
}

.ticket-btn {
    height: 8em;
    width: 8em;
    border-radius: 200em;
    text-align: center;
    padding: 4% 0;
    left: 80%;
    top: 10%;
    color: #ffffff;
    background-color: red;
    font-weight: 900;
    font-size: 140%;
    line-height: 160%;
}

.ticket-btn:hover {
    background-color: #ffffff;
    color: red;
    transition: background-color .5s, color .5s;
    
}

h1 {
    font-size: 500%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/*--------------About-1---------------*/

.artist-about {
    display: flex;
    justify-content: space-evenly;
}

.artist-about img {
    height: 20em;
}

.artist-bio {
    padding: 0 2%;
}

h2 {
    font-size: 300%;
    margin-bottom: .5em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.artist-bio p {
    text-align: justify;
    color: #ffffff;
}

.artist-photo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.artist-photo img {
    height: 13em;
    opacity: .7;
}

.artist-photo img:hover {
    transform: scale(1.15);
    opacity: 1;
    transition: transform .5s, opacity .5s;
}

/*--------------BAND-2---------------*/

.section-band-2, .section-about-2 {
    background-image: linear-gradient(#00000093,#00000093), url(/css/img/radiohead.jpg)
}

/*--------------BAND-3---------------*/

.section-band-3, .section-about-3 {
    background-image: linear-gradient(#00000093,#00000093), url(/css/img/killers-bg.jpg)
}

/*--------------Footer---------------*/

footer {
    background-color: #202020;
    color: #ffffff;
    font-weight: 100;
    text-align: center;
    padding: 3%;
    font-size: 90%;
}

.footer-loc {
    display: flex;
    justify-content: space-around;
}

.copy-text {
    margin-top: 1em;
}